<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- <jpa:repositories base-package="com.oppsci.ngraphstore.web.auth.repo" 
		/> -->

	<!-- <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager" -->
	<!-- p:entityManagerFactory-ref="entityManagerFactory" /> -->

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="org.hsqldb.jdbc.JDBCDriver" />
		<property name="url" value="jdbc:hsqldb:file:database/auth.db" />
<!-- 		<property name="username" value="sa" /> -->
<!-- 		<property name="password" value="" /> -->
	</bean>
	<jdbc:initialize-database data-source="dataSource">
		<jdbc:script location="classpath:database/schema.sql" />
	</jdbc:initialize-database>




</beans>